body{
    background-color: #f1feff;
    font-family: 'Open Sans', sans-serif;
    margin: 3rem 10% 3rem 10%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    background-color: rgb(70, 70, 70);
    color: #f1feff;
    font-size: 1.5rem;
    border-radius: 20px;
}

nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

nav ul li a{
    text-decoration: none;
    color: #f1feff;
}

nav ul li:hover{
    background-color: #f2ebe2;
    border-radius: 20px;
    color: #7e7777;
}
nav ul li:hover a{
    color: #7e7777;
}


.logo_header{
    height: 5rem;
}

.banner{
    width: full-width;
    height: 300px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.banner img{
    width: 100%;
    position: absolute;
    z-index: 0;
    top: -100px;
    transform: scale(1.5);
    left: 250px;
}

section{
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner .banner_layer{
    background-color: #544e4e3d;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.banner article{
    width: 50%;
    height: 80%;
    position: absolute;
    z-index: 2;
    color: #f1feff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    bottom: -50px;
}

.banner article > h1,
.banner article > p{
    margin: 0;
}

footer .footer_logo{
    height: 5rem;
}

.blog_posts{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
}

.blog_posts article{
    background-color: #f6dcba36;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
}

.blog_container{
    padding: 15px;
}

.blog_container h2{
    font-size: 25px;
    margin: 0;
}

.blog_img{
    width: 100%;
}

.blog_posts article:hover{
    transform: translate(-5px, -5px);
    box-shadow: 2px 2px 5px 0px;
}

footer{
    display: flex;
    justify-content: space-between;
}